/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap'); */
@import "tailwindcss";

@media (prefers-reduced-motion: no-preference) {
  * {
      scroll-behavior: smooth;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #11181E; */
  background-color: #fafafa;
  color: black;
}

button {
  box-shadow: 0 0 0px yellow;
}

button:hover {
  box-shadow: 0 0 10px yellow;
  transition: all ease-out .2s
}

footer {
  background-color: #11181E;
  color: #E4E4E4;
  text-align: center;
}

.heading1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 125%;
}

.heading2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 100%;
}

.buttontext {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 100%;
}

.yellowbutton {
  background-color: #ECE224;
  border-radius: 12px;
}

.outlinebutton {
  border: 2px solid #ECE224;
  border-radius: 12px;
}

.regulartext {
  font-weight: 400;
  font-size: 1rem;
  line-height: 125%
}



/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
